<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <title> Облік відвідування </title>
  <meta name="description"
  value="Система обліку працівників ЛЕМП" />
  <script   src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <!--Include style--->
    <!-- Latest compiled and minified CSS -->


    <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"         integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style type="text/css"> .col-xs-12, .col-xs-8, .col-xs-4 {border: 0px solid brown;}</style>

    <!--Include My_Style-->
    <link rel="stylesheet" href="">
  </head>


  <body>
    <div class="container">
      <!-- Start Header -->
      <div class="row" id="header">
        <div class="col-xs-8">
          <h2> Сервіс обліку студентів </h2>
        </div>      
        <div class="col-xs-4" id="group-selector">
          <strong> Команда: </strong>
          <select class="custom-select">
            <option selected> усі студенти </option>
            <option value=""> команда 1 </option>
            <option value=""> команда 2 </option>
            <option value=""> команда 3 </option>
          </select>
        </div>
        <!-- Start SubHeader -->
        <div class="row" id="sub-header">
          <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="{{ url_for('home')}}">Студенти</a></li>
              <li role="presentation"   class="active"><a href="#">Відвідування</a></li>
              <li role="presentation"><a href="{{ url_for('students_teams')}}">Команди</a></li>
            </ul>
          </div>
        </div>
        <div class="row" id="content-columns">
          <div class="col-xs-12">
            <h2> Облік відвідування </h2>
          </div>
        </div>
        <div align="center">
          <table>
            <tr>
              <th><a href="#"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> </a></th>
              <th><b> Січень 2026 </b></th>
              <th><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </a></th>
            </tr>
            <th><br></br></th>
            <th><br></br></th>
          </table>
        </div>
        <div>
          <table class="table table-sm">
            <tr id="table-selector">
              <td align="center" valign="middle">#</td>
              <td width="200px" align="center">Студент</td>
              <td> <p> Ср <br> 1 </br> </p> </td>
              <td> <p> Чт <br> 2 </br> </p> </td>
              <td> <p> Пт <br> 3 </br> </p> </td>
              <td> <p> Сб <br> 4 </br> </p> </td>
              <td> <p> Нд <br> 5 </br> </p> </td>
              <td> <p> Пн <br> 6 </br> </p> </td>
              <td> <p> Вт <br> 7 </br> </p> </td>
              <td> <p> Ср <br> 8 </br> </p> </td>
              <td> <p> Чт <br> 9 </br> </p> </td>
              <td> <p> Пт <br> 10 </br> </p> </td>
              <td> <p> Сб <br> 11 </br> </p> </td>
              <td> <p> Нд <br> 12 </br> </p> </td>
              <td> <p> Пн <br> 13 </br> </p> </td>
              <td> <p> Вт <br> 14 </br> </p> </td>
              <td> <p> Ср <br> 15 </br> </p> </td>
              <td> <p> Чт <br> 16 </br> </p> </td>
              <td> <p> Пт <br> 17 </br> </p> </td>
              <td> <p> Нд <br> 19 </br> </p> </td>
              <td> <p> Пн <br> 20 </br> </p> </td>
              <td> <p> Вт <br> 18 </br> </p> </td>
              <td> <p> Ср <br> 21 </br> </p> </td>
              <td> <p> Чт <br> 23 </br> </p> </td>
              <td> <p> Пт <br> 24 </br> </p> </td>
              <td> <p> Сб <br> 25 </br> </p> </td>
              <td> <p> Нд <br> 26 </br> </p> </td>
              <td> <p> Пн <br> 27 </br> </p> </td>
              <td> <p> Вт <br> 28 </br> </p> </td>
              <td> <p> Ср <br> 29 </br> </p> </td>
              <td> <p> Чт <br> 30 </br> </p> </td>
              <td> <p> Пт <br> 31 </br> </p> </td>
            </tr>
            <tr>
              <td align="center">1</td>
              <td width="200px" align="center"><a href="#">Андрій Боднар</a></td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                  </label>
                </div>
              </td>
            </tr>
            
          </table>


          <!-- Start Footer -->
          <div class="row" id="footer">
            <div class="col-xs-12">
              &copy; 2026 Сервіс обліку студентів-ветеранів "Python bacl-end dev" від ГО "Академія героїв"
            </div>
          </div>
          <!--JS section-->
        </body>
        </html>


