<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Простий CRUD</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>CRUD сторінка method POST (CREATE)</h2>

<form id="dataForm">
    <input type="hidden" id="editIndex">

    <label>Імʼя</label>
    <input type="text" id="name" required>

    <label>Email</label>
    <input type="int" id="email" required>

    <button type="submit">Зберегти</button>
</form>

<table>
    <thead>
        <tr>
            <th>Імʼя</th>
            <th>Email</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody id="tableBody">
