<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo"><h3>Let`s practice!</h3></div>
                <nav>
                    <ul>
                        <li><a href="index.html">Users</a></li>
                        <li class="active"><a href="courses.html">Courses</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="content">
        <div class="container">
            <div class="top-bar">
                <div class="tb-left">
                    <a href="create_user.html" class="add-btn btn red">
                        <img src="../static/plus.svg" alt="Add">
                    </a>
                </div>
                <h2>Courses</h2>
            </div>

            <div class="users-table">
                <table>
                    <thead>
                        <tr>
                            <th>Courses</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="courses-tbody">
                        </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script src="../static/js/api.js"></script>
<script>
    // Викликаємо функцію завантаження при старті
    document.addEventListener('DOMContentLoaded', () => loadData('courses', 'courses-tbody'));
</script>
</body>
</html>