<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo"><h3>Let`s practice!</h3></div>
                <nav>
                    <ul>
                        <li class="active"><a href="../templates/index.html">Users</a></li>
                        <li><a href="../templates/courses.html">Courses</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="content">
        <div class="container">
            <div class="top-bar">
                <div class="tb-left">
                    <a href="create_user.html" class="add-btn btn red">
                        <img src="../static/plus.svg" alt="Add">
                    </a>
                    <div class="search-form">
                        <form action="" onsubmit="event.preventDefault();">
                            <input type="search" placeholder="Search" class="search-input input">
                            <button class="search-btn btn green">
                                <img src="../static/search.svg" alt="Search">
                            </button>
                        </form>
                    </div>
                </div>
                <h2>Users</h2>
            </div>

            <div class="users-table">
                <table>
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>E-mail</th>
                            <th>Mobile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="users-tbody">
                        </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script src="../static/js/api.js"></script>
<script>
    // Викликаємо функцію завантаження при старті
    document.addEventListener('DOMContentLoaded', () => loadData('students', 'users-tbody'));
</script>
</body>
</html>