<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="logo"><h3>Let`s practice!</h3></div>
            <nav>
                <ul>
                    <li><a href="users.html">Users</a></li>
                    <li class="active"><a href="courses.html">Courses</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main class="content">
<div class="container">

<h2>Courses</h2>

<div class="users-table">
<table>
    <thead>
        <tr>
            <th>Course</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="courses-table-body">
    </tbody>
</table>
</div>

</div>
</main>
</div>

<script src="/static/courses.js"></script>
</body>
</html>
