<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="logo"><h3>Let`s practice!</h3></div>
            <nav>
                <ul>
                    <li><a href="users.html">Users</a></li>
                    <li><a href="courses.html">Courses</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main class="content">
<div class="container">

<h2>Create User</h2>

<div class="main-form">
    <form id="create-user-form">
        <label class="form-item">
            <span class="cap"><span>*</span>Full Name</span>
            <input type="text" id="name" class="input" required>
        </label>

        <label class="form-item">
            <span class="cap"><span>*</span>E-mail</span>
            <input type="email" id="email" class="input" required>
        </label>

        <label class="form-item">
            <span class="cap">Phone</span>
            <input type="number" id="phone" class="input">
        </label>

        <label class="form-item">
            <span class="cap">Course</span>
            <input type="text" id="course" class="input">
        </label>

        <div class="form-item">
            <span class="cap">Status</span>
            <div class="form-select">
                <select id="status">
                    <option value="Inactive">Inactive</option>
                    <option value="Active">Active</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn form-btn green">
            Create
        </button>
    </form>
</div>

</div>
</main>
</div>

<script src="/static/createUser.js"></script>
</body>
</html>
