<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h2>Edit User</h2>
        <form id="editForm">
            <input type="text" name="name" class="input" placeholder="Name" required>
            <input type="email" name="email" class="input" placeholder="Email" required>
            <input type="text" name="phone" class="input" placeholder="Phone">
            <input type="text" name="course" class="input" placeholder="Course">
            <select name="status" class="input">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
            <button type="submit" class="btn green">Save Changes</button>
        </form>
    </div>
</div>
<script src="../static/js/api.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', fillEditForm);
    document.getElementById('editForm').onsubmit = handleUpdateUser;
</script>
</body>
</html>