<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="logo"><h3>Let`s practice!</h3></div>
            <nav>
                <ul>
                    <li class="active"><a href="users.html">Users</a></li>
                    <li><a href="courses.html">Courses</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main class="content">
<div class="container">

<h2>Users</h2>

<div class="users-table">
<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>E-mail</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="users-table-body">
        <!-- JS вставить рядки -->
    </tbody>
</table>
</div>

</div>
</main>
</div>

<script src="/static/api.js"></script>
</body>
</html>
