<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <!-- start header -->
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo"><h3 href="{{ url_for('home') }}">Let`s practice!</h3></div>
                <nav>
                    <ul>
                        <li class="active"><a href="#">Users</a></li>
                        <li><a href="{{ url_for('courses') }}">Courses</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="content">
        <div class="container">
            <div class="top-bar">
                <div class="tb-left">
                    <a href="{{ url_for('create_user')}}" class="add-btn btn red">
                        <img src="/static/plus.svg" alt="">
                    </a>
                    <div class="search-form">
                        <form action="" method="post">
                            <input type="search" placeholder="Search" class="search-input input">
                            <button class="search-btn btn green">
                                <img src="/static/search.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>

                <h2>Users</h2>

                <div class="tb-right">
                    <div class="users-per-page">
                        <select>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="users-table">
                <table>
                    <thead>
                        <tr>
                            
                            <th>Full Name</th>
                            <th>E-mail</th>
                            <th>Mobile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for s in people %}
                        <tr class="user"  methods="GET">
                            
                            <td> {{ s.name }} </td>
                            <td> {{ s.email }} </td>
                            <td> {{ s.phone }} </td>
                            <td>
                                <div class="user-action">
                                    <a href=" {{ url_for('change_user', id=s.id)}}" class="edit-btn btn green small">
                                        <img src="/static/feather.svg" alt="">
                                    </a>
                                    <a href="{{ url_for('delete_user', id=s.id) }}" class="remove-btn btn red small">
                                        <img src="/static/basket.svg" alt="">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <ul class="pagination">
                <li class="prev disabled">
                    <a href="#" class="btn green small">
                        <img src="/static/arrow-left.svg" alt="">
                    </a>
                </li>
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="next">
                    <a href="#" class="btn green small">
                        <img src="/static/arrow-right.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </main>
</div>

</body>
</html>